*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 70px;
}
.navbar{
    background-color: #F40009;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    z-index: 9999;
}
.nav-link{
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 15px;
    padding: 0;
}
.nav-link:hover{
color: white !important;
}
.navbar-brand{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
footer{
    font-size: 15px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #F40009;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 47px;
}


